@using EndPoint.Site.Common
@model EndPoint.Site.Models.Category

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>نمایش جزئیات</h1>

<div>
    <h4>دسته بندی</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Visible)
        </dt>
        <dd class = "col-sm-10">
            @clsEnums.Get_VisibleStatus((int)Model.Visible)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoAddress)
            </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhotoAddress)
            <br />
            <img style="width:100%;" src="@Model.PhotoAddress" />
            
        </dd>
        
    </dl>
    
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CategoryId">به روز رسانی</a> |
    <a asp-action="Index">دسته بندی ها</a>
</div>
