@using EndPoint.Site.Common
@model IEnumerable<EndPoint.Site.Models.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>دسته بندی ها</h1>

<p>
    <a asp-action="Create">دسته بندی جدید</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Visible)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @if (item.Visible == 1)
                {
                        <a class="InfoClass" asp-action="EditVisibility" asp-route-id="@item.CategoryId">@clsEnums.Get_VisibleStatus((int)item.Visible)</a>
                }
                else
                {
                        <a class="DeleteClass" asp-action="EditVisibility" asp-route-id="@item.CategoryId">@clsEnums.Get_VisibleStatus((int)item.Visible)</a>
                }
            </td>
            
            <td>
                    <a class="EditClass" asp-action="Edit" asp-route-id="@item.CategoryId">به روز رسانی</a> |
                    <a class="InfoClass" asp-action="Details" asp-route-id="@item.CategoryId">نمایش</a> |
                    <a class="DeleteClass" asp-action="Delete" asp-route-id="@item.CategoryId">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
